<%- include("header.ejs") %>&nbsp;

<%- include('message') %>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>

            <% if(session.isLoggedIn == true && session.userRole == "admin") { %>
            <th>User's name</th>
            <th class="text-center">Item</th>
            <th></th>
            <% } %>

            <% if(session.isLoggedIn == true && session.userRole == "user") { %>
            <th>Title</th>
            <th class="text-end"></th>
            <% } %>

        </tr>
    </thead>
    <tbody>
        <% if(session.isLoggedIn == true) { %>
            <% if (session.userRole == "admin") { %>
                <% results.forEach((item, index) => { %>
                <tr>
                    <td><%= (index+1) %>.</td>
                    <td><%= item.name %></td>
                    <td class="text-center"><%= item.title %></td>
                    <td class="text-end">                    
                        <a href="./rentalDelete/<%= item.id %>" class="btn btn-primary">Return</a>
                    </td>
                </tr>
                <% }); %>
            <% } %>

            <% if (session.userRole == "user") { %>
                <% results.forEach((item, index) => { %>
                    <% if (item.userID == session.userID) { %>
                        <tr>    
                            <td><%= (index+1) %>.</td>
                            <td><%= item.title %></td>
                            <td class="text-end">
                                <a href="./rentalDelete/<%= item.id %>" class="btn btn-primary">Return</a>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            <% } %>
        <% } %>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">Total: 
                <% if(session.isLoggedIn == true && session.userRole == "admin") { %>
                <%= total %> 
                <% } else if (session.isLoggedIn == true && session.userRole == "user") { %>
                    <%= userTotal %>
                <% } %>
                borrowed items
            </td>
        </tr>
    </tfoot>
</table>

<%- include('footer') %>