<%- include("header.ejs") %>&nbsp;

<%- include('message') %>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th class="text-center">Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach((item, index) => { %>
            <tr>    
                <td><%= (index+1) %>.</td>
                <td><%= item.name %></td>
                <td class="text-center"><%= item.role %></td>
                <td class="text-end">                    
                    <% if (session.isLoggedIn == true && session.userRole == "admin" && session.userID != item.id) { %>
                    <a href="./userDelete/<%= item.id %>" class="btn btn-danger"><i class="bi bi-trash3"></i></a>
                    <a href="./userUpdate/<%= item.id %>" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
                    <% } %>
                </td>
            </tr>

        <% }); %>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" class="text-center">Total: <%= total %> users</td>
        </tr>
    </tfoot>
</table>

<%- include('footer') %>